# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Asset files
/images/
audio/

# Ignore ALL .txt files inside wordlists/, but NOT words.txt
wordlists/*
!wordlists/.gitkeep

# Allow words.txt (default list)
!words.txt