[project]
name = "codemy-python-projects"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pillow>=12.0.0",
    "pygame-ce>=2.5.6",
    "tzdata>=2025.3",
]
